<include file="Common/header" />

<div class="container">
	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="/">首页</a></li>
		  <li role="presentation"><a onclick ="back()">返回</a></li>
		</ul>
	</div>
	<br>
	<div class="row well">
	    <form action="/?s=home/index/submit" method="post">
	    	<foreach name="result" item="vo" key="k" >
				<if condition="$vo.is_mulu lt 1 ">
					<!-- //存文件类型 -->
					<input name="path[]" type="checkbox" value="{$vo.path}"/> {$vo.name} &nbsp;&nbsp;<small>{$vo.last_up_time}</small> &nbsp;&nbsp;
					<a href="/?s=home/index/lookcode/path/{$vo.path}" target="_blank">源码</a>
					<br>
				<else /> 
				    <input name="path[]" type="checkbox" value="{$vo.path}"/> <a href="/?s=home/index/index/path/{$vo.path}">{$vo.name}</a> &nbsp;&nbsp;<small>{$vo.last_up_time}</small><br>
				</if>
	    		
			</foreach>
			<br>
			<input type="submit" value="部署">
	    </form>
	</div>
</div>
<include file="Common/footer" />