 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script src="http://lib.sinaapp.com/js/jquery/1.8.3/jquery.min.js" type="text/javascript"></script> 
<title>代码部署</title>
</head>

<body>
<div class="wrap">
	<h2><a href="/">回首页</a></h2>
    <form action="/?s=home/index/submit" method="post">
    	<foreach name="result" item="vo" key="k" >
			<if condition="$vo.is_mulu lt 1 ">
				<!-- //存文件类型 -->
				<input name="path[]" type="checkbox" value="{$vo.path}"/> {$vo.name} &nbsp;&nbsp;<small>{$vo.last_up_time}</small> &nbsp;&nbsp;
				<a href="/?s=home/index/lookcode/path/{$vo.path}" target="_blank">源码</a>
				<br>
			<else /> 
			    <input name="path[]" type="checkbox" value="{$vo.path}"/> <a href="/?s=home/index/index/path/{$vo.path}">{$vo.name}</a> &nbsp;&nbsp;<small>{$vo.last_up_time}</small><br>
			</if>
    		
		</foreach>
		<br>
		<input type="submit" value="部署">
    </form>
</div>
</body>
</html>